@model BlogCore.Models.ViewModels.HomeVM

<div class="row fondoTitulo mt-1">
    <div class=" col-sm-12">
        <h1 class="text-center text-black bg-gradient py-1">
            Últimos cursos y tutoriales
        </h1>
    </div>
</div>

@if (Model.listArticles.Count() > 0)
{
    <hr />
    <div class="row">
        @foreach (var article in Model.listArticles.OrderBy(o => o.Id))
        {
            <div class="col-4 ">
                <div class="card">
                    <img src="@article.UrlImage" class="img-thumbnail" width="100%">
                    <div class="card-body">
                        <h5 class="text-center">@article.Name</h5>
                        <a asp-action="Details" class="btn btn-success" style="border-radius:2px" asp-route-id="@article.Id">Más Información</a>
                    </div>

                </div>
            </div>
        }
    </div>
}
else
{
    <p>No hay artículos...</p>
}
